<h1><%= @band.name %></h1>
<%#= render "display", band: @band %>
<h2>Albums</h2>
<%= render "albums/display", albums: @band.albums %>
<%= button_to "Add Album", new_band_album_url(@band), method: "get" %>